@{
    ViewBag.Title = "Azure Websites Staging Slot Redirector";
}

<div class="jumbotron">
    <h1>Staging Slot Redirector</h1>
    <p class="lead">If you were a bot and on the staging site, this would have redirected.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Current WEBSITE_HOSTNAME</h2>
        <p>
            @Environment.GetEnvironmentVariable("WEBSITE_HOSTNAME")
        </p>
    </div>
    <div class="col-md-6">
        <h2>What is this site?</h2>
        <p>This is a test site that demonstrates how to redirect a search engine bot from an Azure website staging slot to the live site, without affecting testing.</p>
        <p><a class="btn btn-default" href="https://github.com/smlync/StagingBotRedirect">Learn more &raquo;</a></p>
    </div>
</div>